@font-face {
    font-family: 'gothampro';
    src: url('../font/GothamPro/GothamPro.otf');
}
@font-face {
    font-family: 'gothampro medium';
    src: url('../font/GothamPro-Medium/GothamPro-Medium.otf');
}
