/* main content */
	#main-content .main-slide{
		position: relative;
		display: table-cell;
		width: 100%;
		height: 100vh;
		transition: all 1.51s;
	}
	#main-content.show-discrip .main-slide{
		width: 50%;
	}
	#main-content #one.main-slide{
		vertical-align: middle;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-color: rgb(35,30,96);
	}
	#main-content #one.main-slide h1{
		margin: 0;
		padding: 0;
		text-align: center;
		color: rgba(255,255,255,0);
		text-transform: uppercase;
	    font-family: 'gothampro medium';
		opacity: 0;
		visibility: hidden;
		transition: all 2.53s;
	}
	#main-content.in-view #one.main-slide h1{
		opacity: 1;
		visibility: visible;
	}
	#main-content #one.main-slide h1:first-child{
		text-shadow: 
			30vw -30vh rgba(255,255,255,0),
			-30vw -30vh rgba(255,255,255,0);
	}
	#main-content.in-view #one.main-slide h1:first-child{
		text-shadow: 
			0vw 0vh rgba(255,255,255,1),
			0vw 0vh rgba(255,255,255,1);
	}
	#main-content #one.main-slide h1:last-child{
		text-shadow: 
			30vw 30vh rgba(255,255,255,0),
			-30vw 30vh rgba(255,255,255,0);
	}
	#main-content.in-view #one.main-slide h1:last-child{
		text-shadow: 
			0vw 0vh rgba(255,255,255,1),
			0vw 0vh rgba(255,255,255,1);
	}
	#main-content.show-discrip #one.main-slide h1:first-child{
		text-shadow: 
			0vw -10vh rgba(255,255,255,0),
			0vw -10vh rgba(255,255,255,0);
	}
	#main-content.show-discrip #one.main-slide h1:last-child{
		text-shadow: 
			0vw 10vh rgba(255,255,255,0),
			0vw 10vh rgba(255,255,255,0);
	}
	#main-content #two.main-slide{
		background-color: rgb(35,30,96);
		transition: 1.51s;
		transition-delay: .51s;
		overflow: hidden;
	}
	#main-content.show-discrip #two.main-slide{
		background-color: rgb(255,255,255);
	}
	#main-content #two.main-slide #content{
		width: 0;
		height: 0;
		visibility: hidden;
		opacity: 0;
		margin: 0 auto;
		transition: 1.51s;
		transition-delay: .51s;
	}
	#main-content.show-discrip #two.main-slide #content{
		width: 80%;
		height: 80vh;
		padding-top: 60px;
		visibility: visible;
		opacity: 1;	
	}
	#main-content #two.main-slide #content h1{
		margin: 0;
		padding: 0;
		text-transform: uppercase;
		visibility: hidden;
		opacity: 0;
		color: rgb(0,0,0);
		transition: 1.51s;
	}
	#main-content.show-discrip #two.main-slide #content h1{
	    font-family: 'gothampro medium';
		visibility: visible;
		opacity: 1;	
		color: rgb(35,30,94);
		padding-bottom: 2.5px;
		margin-bottom: 30px;
		border-bottom: 4px dotted rgb(35,30,94);
		transition-delay: 1.51s;
	}
	#main-content #two.main-slide #content p{
		margin: 0;
		margin-bottom: 20px;
		line-height: 1.6;
		padding: 0;
		visibility: hidden;
		opacity: 0;
		color: rgb(0,0,0);
		transition: 1.51s;
		transition-delay: 2.1s;
	}
	#main-content.show-discrip #two.main-slide #content p{
	    font-family: 'gothampro';
		visibility: visible;
		opacity: 1;
		color: rgb(35,30,94);
	}
/* main content */
