body{
	margin: 0;
	padding: 0;
	background-color: rgb(35,30,96);
}
/* navbar */
	#navigasi{
		position: fixed;
		left: 0;
		top: 0;
		width: 20%;
		height: 100vh;
		background-color: rgb(35,30,96);
		text-align: center;
	}
	#navigasi img#logo-tingkat{
		width: 70%;
		margin: 0 auto;
		margin-top: 40px;
		transform: translateY(-20vh) rotateY(-360deg);
		opacity: 0;
		transition: all 1.51s;
	}
	#navigasi.in-view img#logo-tingkat{
		transform: translateY(0vh) rotateY(360deg);
		opacity: 1;
	}
	#navigasi img#block-w,
	#navigasi img#block-n{
		display: block;
		margin: 0 auto;
		transform: translateY(-20vh) rotateY(-360deg);
		opacity: 0;
		transition: all 2.51s;
	}
	#navigasi.in-view img#block-w,
	#navigasi.in-view img#block-n{
		transform: translateY(0vh) rotateY(360deg);
		opacity: 1;
	}
	#navigasi img#block-w{
		width: 40px;
		margin-top: 40px;
	}
	#navigasi img#block-n{
		width: 28px;
		margin-top: 40px;
	}
	#navigasi #nav-wrapper-list{
		position: relative;
		margin: 0 auto;
		margin-top: 40px;
		text-align: center;
	}
	#navigasi #nav-wrapper-list .list{
		margin-bottom: 0px;
		transition: all 1.51s;
	}
	#navigasi.in-view #nav-wrapper-list .list{
		margin-bottom: 10px;
	}
	#navigasi #nav-wrapper-list .list:after{
		content: '';
		position: relative;
		display: block;
		width: 20%;
		margin: 0 auto;
		margin-top: 10px;
		text-align: center;
		border-top: 10px dotted rgb(255,255,255);
		transform: scale(.4) rotate(0deg);
		visibility: hidden;
		opacity: 0;
		transition: all 2.51s;
	}
	#navigasi.in-view #nav-wrapper-list .list:after{
		visibility: visible;
		opacity: 1;
		transform: scale(.4) rotate(360deg);
	}
	#navigasi #nav-wrapper-list .list:last-child:after{
		display: none;
	}
	#navigasi #nav-wrapper-list .list a{
		cursor: pointer;
		text-decoration: none;
		text-transform: uppercase;
		color: rgb(255,255,255);
	}
	#navigasi #nav-wrapper-list .list a:hover,
	#navigasi #nav-wrapper-list .list a.active{
		color: rgb(201,153,43);
	}
	#navigasi #nav-wrapper-list .list .slide-down-content{
		visibility: hidden;
		opacity: 0;
		height: 0;
		transition: height 1.51s opacity 1.51s visibility 1s;
	}
	#navigasi #nav-wrapper-list .list.slide-down-actived:hover .slide-down-content{
		visibility: visible;
		opacity: 1;
		height: auto;
	}
	#navigasi #copy-right{
		position: absolute;
		bottom: -10vh;
		width: 100%;
		height: 10vh;
		background-position: center;
		background-size: cover;
		transition: all 1.51s;
	}
	#navigasi.in-view #copy-right{
		bottom: 0;
	}
	#navigasi #copy-right p{
		width: 60%;
		padding: 10px 20px;
		margin: 0 auto;
		margin-top: 5vh;
		background-color: rgb(35,30,96);
		text-align: center;
		text-transform: uppercase;
		font-size: 12px;
		color: rgb(119,116,155);
	}
/* navbar */

/* main content */
	#main-content{
		position: relative;
		width: 80%;
		margin-left: 20%;
		overflow-x: auto;
		display: table;
		visibility: hidden;
		opacity: 0;
		transition: all 2.51s;
	}
	#main-content.in-view{
		visibility: visible;
		opacity: 1;
	}
	#main-content .main-slide{
		position: relative;
		display: table-cell;
		width: 100%;
		height: 100vh;
		transition: all 1.51s;
	}
	#main-content.show-discrip .main-slide{
		width: 50%;
	}
	#main-content #one.main-slide{
		vertical-align: middle;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-color: rgb(35,30,96);
	}
	#main-content #one.main-slide h1{
		margin: 0;
		padding: 0;
		text-align: center;
		color: rgba(255,255,255,0);
		text-transform: uppercase;
		opacity: 0;
		visibility: hidden;
		transition: all 2.53s;
	}
	#main-content.in-view #one.main-slide h1{
		opacity: 1;
		visibility: visible;
	}
	#main-content #one.main-slide h1:first-child{
		text-shadow: 
			30vw -30vh rgba(255,255,255,0),
			-30vw -30vh rgba(255,255,255,0);
	}
	#main-content.in-view #one.main-slide h1:first-child{
		text-shadow: 
			0vw 0vh rgba(255,255,255,1),
			0vw 0vh rgba(255,255,255,1);
	}
	#main-content #one.main-slide h1:last-child{
		text-shadow: 
			30vw 30vh rgba(255,255,255,0),
			-30vw 30vh rgba(255,255,255,0);
	}
	#main-content.in-view #one.main-slide h1:last-child{
		text-shadow: 
			0vw 0vh rgba(255,255,255,1),
			0vw 0vh rgba(255,255,255,1);
	}
	#main-content.show-discrip #one.main-slide h1:first-child{
		text-shadow: 
			0vw -10vh rgba(255,255,255,0),
			0vw -10vh rgba(255,255,255,0);
	}
	#main-content.show-discrip #one.main-slide h1:last-child{
		text-shadow: 
			0vw 10vh rgba(255,255,255,0),
			0vw 10vh rgba(255,255,255,0);
	}
	#main-content #two.main-slide{
		background-color: rgb(35,30,96);
		transition: 1.51s;
		transition-delay: .51s;
		overflow: hidden;
	}
	#main-content.show-discrip #two.main-slide{
		background-color: rgb(255,255,255);
	}
	#main-content #two.main-slide #content{
		width: 0;
		height: 0;
		visibility: hidden;
		opacity: 0;
		margin: 0 auto;
		transition: 1.51s;
		transition-delay: .51s;
	}
	#main-content.show-discrip #two.main-slide #content{
		width: 80%;
		height: 80vh;
		padding-top: 60px;
		visibility: visible;
		opacity: 1;	
	}
	#main-content #two.main-slide #content h1{
		margin: 0;
		padding: 0;
		text-transform: uppercase;
		visibility: hidden;
		opacity: 0;
		color: rgb(0,0,0);
		transition: 1.51s;
	}
	#main-content.show-discrip #two.main-slide #content h1{
		visibility: visible;
		opacity: 1;	
		color: rgb(35,30,94);
		padding-bottom: 2.5px;
		margin-bottom: 30px;
		border-bottom: 4px dotted rgb(35,30,94);
		transition-delay: 1.51s;
	}
	#main-content #two.main-slide #content p{
		margin: 0;
		margin-bottom: 20px;
		line-height: 1.6;
		padding: 0;
		visibility: hidden;
		opacity: 0;
		color: rgb(0,0,0);
		transition: 1.51s;
		transition-delay: 2.1s;
	}
	#main-content.show-discrip #two.main-slide #content p{
		visibility: visible;
		opacity: 1;
		color: rgb(35,30,94);
	}
/* main content */
