/* public */
	body{
		margin: 0;
		padding: 0;
		background-color: rgb(35,30,96);
	}

	#main-content{
		position: relative;
		width: 80%;
		height: 100vh;
		margin-left: 20%;
		overflow-x: auto;
		display: table;
		visibility: hidden;
		opacity: 0;
		transition: all 2.51s;
	}
	#main-content.in-view{
		visibility: visible;
		opacity: 1;
	}
/* public */