body{
	overflow: hidden;
	padding-left: 20%;
}
#main-content{
	margin: 0 auto;
	width: 0%;
}
#main-content.in-view{
	background-color: rgb(255,255,255);
	border-radius: 0%;
	width: 100%;
}
#main-content #banner{
	position: relative;
	display: block;
	width: 0%;
	height: 53vh;
	margin: 0 auto;
	margin-top: 1vh;
	margin-bottom: 1vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	transition: all 2.51s;
}
#main-content.in-view #banner{
	width: 98%;
}
#main-content #content{
	display: table;
	width: 85%;
	margin: 0 auto;
}
#main-content #content h1{
    font-family: 'gothampro medium';
	text-align: center;
	text-transform: uppercase;
	color: rgba(35,30,94,0);
	width: 100%;
	margin: 2.5vh auto;
	visibility: hidden;
	opacity: 0;
	text-shadow: 
		20vw 0 rgba(35,30,94,0),
		-20vw 0 rgba(35,30,94,0);
	transition: all 1.51s;
}
#main-content.in-view #content h1{
	visibility: visible;
	opacity: 1;
	text-shadow: 
		0vw 0 rgba(35,30,94,1),
		0vw 0 rgba(35,30,94,1);
	transition-delay: 1.83s;
}
#main-content #content h1:before,
#main-content #content h1:after{
	content: '';
	position: relative;
	display: inline-grid;
	width: 22%;
	border-top: 4px dotted rgb(35,30,94);
	padding-top: 8px;
}
#main-content #content h1:before{
	margin-right: 3%;
}
#main-content #content h1:after{
	margin-left: 3%;
}
#main-content #content .col{
	display: table-cell;
	vertical-align: middle;
	width: 48%;
}
#main-content #content .col:first-child{
	padding-right: 2%;
}
#main-content #content .col:last-child{
	padding-left: 2%;
}
#main-content #content .col p{
    font-family: 'gothampro';
	text-align: justify;
	color: rgb(35,30,94);
	visibility: hidden;
	opacity: 0;
	transition: all 1.51s;
}
#main-content.in-view #content .col p{
	visibility: visible;
	opacity: 1;	
	transition-delay: 2.84s;
}
#main-content img#services-dotted{
	position: absolute;
	bottom: 2.5%;
    right: 5%;
    width: 250px;
    visibility: hidden;
	opacity: 0;
	transform: translateX(-30vw);
	transition: all 2.1s;
}
#main-content.in-view img#services-dotted{
	transition-delay: 3.4s;
	visibility: visible;
	opacity: 1;	
	transform: translateX(0vw);
}